<div class="header" layout="row" flex>
  <div layout="column" flex>
    <div layout="column" layout-gt-sm="row" layout-align-gt-sm="space-around center" style="margin-bottom: 20px">
      <div layout-sm="row" layout="column" layout-align="center">
        <h4 style="margin: 18px" layout-xs="row" layout-align-xs="center">{{developer.user.first_name}}</h4>
        <h4 style="margin: 18px" layout-xs="row" layout-align-xs="center">{{developer.user.last_name}}</h4>
      </div>
      <div layout-sm="row" layout="column" layout-align-sm="space-between center">
        <md-input-container style="margin: 18px">
          <md-select ng-model="developer.selectedProjectId" ng-change="developer.getProjectStatistic()" placeholder="Select a project">
            <md-option ng-value="project.id" ng-repeat="project in developer.projects">{{ project.name }}</md-option>
          </md-select>
        </md-input-container>
        <div layout="row" layout-align-xs="center" style="margin: 18px">
          <md-datepicker md-hide-icons="calendar" ng-model="developer.selectedDate" ng-change="developer.selectedDay(developer.selectedDate)" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
          <button class="mdl-button mdl-color--accent mdl-color-text--white"  style="margin-left: 18px"  ng-click="developer.getTodayDate()" flex-xs>today</button>
        </div>
      </div>
      <div >
        <ul class="demo-list-two mdl-list">
          <li class="mdl-list__item mdl-list__item--two-line" layout="row" layout-align="space-around center">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color--white mdl-color-text--grey-600">today</i>
              <span>Day Total</span>
              <span class="mdl-list__item-sub-title">Total worked time</span>
            </span>
            <span class="mdl-list__item-secondary-content">
              <a class="mdl-list__item-secondary-action" href="#">{{developer.dayTotal}}</a>
            </span>
          </li>
          <li class="mdl-list__item mdl-list__item--two-line" layout="row" layout-align="space-around center">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color--white mdl-color-text--grey-600">person</i>
              <span>Project Total</span>
              <span class="mdl-list__item-sub-title">Project worked time</span>
            </span>
            <span class="mdl-list__item-secondary-content">
              <a class="mdl-list__item-secondary-action" href="#">{{developer.projectTotal}}</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="content" layout="column" flex>
  <md-tabs md-dynamic-height md-border-bottom md-center-tabs="true" md-stretch-tabs="always" md-selected="developer.selectedIndex" md-autoselect ng-cloak>
    <md-tab ng-click="developer.getProjectStatistic()">
      <md-tab-label>
        <md-icon class="material-icons">view_day</md-icon>
        <span hide-xs>day</span>
     </md-tab-label>
      <md-tab-body>
        <md-content ng-repeat="hours in developer.userStat" style="min-height: 175px">
          <md-grid-list md-cols="7" md-row-height="1:1" md-gutter="2px" style="min-width: 1100px;" >
            <md-grid-tile>
              <h6>{{hours.hourTotal}}</h6>
            </md-grid-tile>
            <md-grid-tile ng-repeat="stat in hours.hour">
              <md-card style="margin:0px">
                <img ng-src="/screenshots/{{stat.image}}" ng-click="developer.showScrean($event, stat)" class="md-card-image" ng-style="{'background-size': 'cover', 'max-width': '400px', 'max-height': '150px'}">
                <md-card-actions layout="row" layout-wrap layout-align="space-between center">
                  <md-list class="md-dense" style="padding:0px; margin: 0px;" flex>
                    <md-list-item class="md-2-line md-long-text" style="padding:0px; margin: 0px;">
                      <div class="md-list-item-text" layout="column">
                        <h3><md-icon class="material-icons">access_time</md-icon> {{stat.created_at | date:"H:mm"}} +{{stat.work_time}}</h3>
                        <p><md-icon class="material-icons">keyboard</md-icon> {{stat.keyboard}}<md-icon class="material-icons">mouse</md-icon> {{stat.mouse}}</p>
                      </div>
                      <md-button class="md-secondary md-icon-button mdl-color--red md-whiteframe-1dp" ng-click="developer.deleteStatistic(stat.id)" aria-label="delete_forever" style="margin:0px">
                        <md-icon class="material-icons" style="color: white;">delete_forever</md-icon>
                      </md-button>
                    </md-list-item>
                  </md-list>
                </md-card-actions>
              </md-card>
            </md-grid-tile>
          </md-grid-list>
        </md-content>
      </md-tab-body>
    </md-tab>

    <md-tab ng-click="developer.getProjectStatistic()">
      <md-tab-label>
        <md-icon class="material-icons">view_comfy</md-icon>
        <span hide-xs>months</span>
      </md-tab-label>
      <md-tab-body>
        <md-list>
          <md-list-item style="padding: 0px;">
            <md-content flex>
                <!-- //////////////////////Месяц////////////////////////////// -->
                <md-card layout="column" flex>
                  <md-card-title-text layout="row" layout-align="center">
                    <h6>{{developer.userMonthStat.monthName}}: {{developer.userMonthStat.monthStat}}</h6>
                  </md-card-title-text>
                  <md-content style="padding: 10px; background: transparent;" flex>
                    <table class="mdl-data-table mdl-js-data-table">
                      <thead>
                        <tr>
                          <th>Week stat</th>
                          <th>Sunday</th>
                          <th>Monday</th>
                          <th>Tuesday</th>
                          <th>Wednesday</th>
                          <th>Thursday</th>
                          <th>Friday</th>
                          <th>Saturday</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- /////////////////////////Неделя///////////////////////////// -->
                        <tr ng-repeat="week in developer.userMonthStat.weeks">
                          <!-- ////////////////////////////Неделя///////////////////////////// -->
                          <td class="mdl-data-table__cell--non-numeric md-subhead" style="padding: 0px !important;">{{week.weekStat}}</td>
                          <!-- ///////////////////////////День/////////////////////////// -->
                          <td class="mdl-data-table__cell--non-numeric" ng-repeat="day in week.days track by $index">
                            <md-card flex ng-click="developer.selectedDay(day.date)">
                              <md-card-title style="padding: 0px; margin-top:10px;">
                                <md-card-title-media>
                                  <div class="md-avatar-icon" md-colors="::{background: 'primary'}" style="margin:10px;">
                                    <md-icon style="color: rgba(255, 255, 255, 0.87);" class="material-icons">view_day</md-icon>
                                  </div>
                                </md-card-title-media>
                                <md-card-title-text style="margin-right: 10px;">
                                  <span class="md-subhead">{{day.date|date:"MM/dd/yyyy" }}</span>
                                  <span class="">{{day.dayStat}}</span>
                                </md-card-title-text>
                              </md-card-title>
                            </md-card>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </md-content>
                </md-card>
                <!-- //////////////////////Месяц////////////////////////////// -->
            </md-content>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
  </md-tabs>


</div>
