.text-black-grey {
  color: #4B515D;
}

.text-light-grey {
  color: #666;
}


.project-chevron {
  font-size: 35px;
  vertical-align: middle;
}

.project-wrap {
    margin: 0;
    border-radius: 0;
}

.project-wrap ul li:last-child {
  font-size: 35px;
  vertical-align: middle;
  font-weight: 100;
  padding-right: 30px;
  width: 10%!important;
}

.project-wrap ul li:first-child {
  width: 60% !important;
  padding-left: 20px;
}


.project-wrap ul li p {
  padding-left: 10px;
  margin-top: 0;
  padding-top: 0;
}

.project-wrap {
  border-bottom: 1px solid rgba(158, 158, 158, 0.1);
}

.shadow {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.project-info {
  padding-left: 40px;
}

.project-time {
  padding-top: 10px;
}

.project-time h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #0099CC;
}

/*.home:hover {
  border-left: 5px solid #0099CC;
  transition: all 500ms ease;
}*/

.project-time span{
  padding-left: 80px;
}

.login-form {
  max-width: 350px;
  margin: 100px auto;
  background: white;
  border-radius: 5px;
}

.login-form form {
    padding: 40px;
}


body {
  background: #F0F0F0;
  color: #333;
}

h4 {
  margin-bottom: 5px;
}

.screenshot {
  max-width: 350px;
}



.project-dashboard-header {
  background-color: #fff;
  border-bottom: 2px solid #4285F4;
}

.project-dashboard-header h5 {
  margin-top: 0;
  padding-left: 10px;
  padding-bottom: 10px;
}

.project-dashboard-header h3 {
  margin-bottom: 10px;
}
ul {
    margin-bottom: 0;
}

.project-dashboard-header li{
  display: table-cell;
}


.project-dashboard-header li:last-child{
  vertical-align: top;
}

.chevron {
  padding-top: 20px;
  padding-right: 10px;
}

.project-dashboard-content {
  padding-top: 45px;
}

.project-dashboard-content h4 {
    padding: 20px;
}
.project-dashboard-content p {
  padding: 10px;
}

.project-dashboard-footer-button {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-bottom: 0;
  height: 115px;
  font-size: 45px;
  border-radius: 0;
  color: white;
}

.btn.btn-block {
  margin-bottom: 0;
}


.tracked-time {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #0099CC;
}

h1  {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tracked-time {
  margin-top: 25px;
  margin-bottom: 20px !important;
}

.project-ul li {
  vertical-align: middle;
  width: 30%;
}


.project-ul li a{
  color: #888484;
}

.btn-flat {
  margin: 0px !important;
}

.project-wrap-selected ul li:first-child {
  font-size: 35px;
  vertical-align: middle;
  font-weight: 100;
  padding-left: 30px;
  width: 10%!important;
}

.project-wrap-selected ul li {
  vertical-align: middle;
  width: 60%;
}

.project-wrap-selected ul li:last-child {
  width: 30% !important;
  padding-right: 20px;
}

.h1-responsive {
    font-size: 2rem!important;
}

button.btn.btn-lg.btn-block.project-dashboard-footer-button.ng-binding.btn-danger {
    background-color: #db0000;
}


.view-animate {
    overflow:hidden;
  /*padding:10px;*/
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all ease-in-out .5s;
  display:block;
  width:100%;
  /*border-left:1px solid black;*/

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  /*padding:10px;*/
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left: 100%;
}

.row-mod {
  margin-bottom: 10px;
}

.btn {
  margin: 0 !important;
  line-height: inherit !important;
}
