@import url(http://fonts.googleapis.com/css?family=Roboto);
html body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
}


.button.current {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border: none;
  box-shadow: none;
  pointer-events: none;
}
