<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title></title>
    <base href="/">
    <!-- Bootstrap core CSS     -->
    <link rel="stylesheet" href="/angular-material/angular-material.min.css" media="screen" title="no title" charset="utf-8">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />

    <!--<link rel="stylesheet" href="/magnific-popup/dist/magnific-popup.css" media="screen" title="no title" charset="utf-8">-->
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link rel="stylesheet" href="/animate.css/animate.min.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/material-design-lite/material.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/login-page.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
  </head>

  <body ui-view>
  </body>
  <script src="/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="/material-design-lite/material.min.js" charset="utf-8"></script>
  <script src="/angular/angular.min.js"></script>
  <script src="/angular-route/angular-route.min.js"></script>
  <script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/angular-animate/angular-animate.min.js"></script>
  <script src="/angular-resource/angular-resource.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="/angular-material/angular-material.min.js"></script>

<script type="text/javascript">
//$(document).ready(function() {
//$('.test-popup-link').magnificPopup({type:'image'});
//});
</script>
  <!-- ANGULAR -->

  <!-- ANGULAR-SERVICES -->
  <script src="/app/services/auth.service.js" charset="utf-8"></script>
  <script src="/app/services/api.service.js" charset="utf-8"></script>
  <!-- ANGULAR-MODULES -->
  <script src="/app/modules/app.module.js" charset="utf-8"></script>
  <!-- ANGULAR-CONTROLLERS -->
  <script src="/app/controllers/main.controller.js" charset="utf-8"></script>
  <script src="/app/controllers/dashboard.controller.js" charset="utf-8"></script>

</html>
