body {
  overflow-y: hidden;
  overflow-x: hidden;
}
/*login view*/
.backgroundImageLogin {
  height: 100%;
  background: url(../images/material-design.png) center;
}
.ckeckboxWhite {
  color: white;
  margin-left:8px !important;
}

/*config view*/
.backgroundImageConfig {
  height: 100%;
  background: url(../images/m.jpg) center;
}

/*refactoring border checkbox*/
md-checkbox:not(.md-checked) .md-icon {
  border-color: rgb(255, 255, 255);
}

/*login and config*/
.backgroundFormContainer {
  background: rgba(0, 0, 0, 0.55);
  max-height:400px;
  border-radius: 1%;
}
.logoContainer {
  background: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom:20px;
  margin-top:20px;
}
.maxWidth200 {
  max-width: 200px;
}
.inputContainerWhite{
  margin: 0px !important;
}
.inputContainerWhite label, md-icon, input {
  color: white !important;
}

/*project list*/
.mdContentMaxheight {
  max-height:520px !important;
}
.colorPTWT {
  color:#ff4081 !important;
}
.autoMargin {
  margin: auto !important;
}

/*project*/
.listItemMaxWidth {
  max-width: 280px !important;
}
.listItemColorText {
  color: white !important;
}
.backgroundProject {
  background: black;
  height: 100%;
}
.clientScreanSize {
  max-width:400px;
  max-height:300px;
}
