html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.side-menu {
  background: lightskyblue !important; color: black !important;
}
.button-menu {
  margin: 4px !important;
}
md-toolbar h3 {
  margin: auto;
  font-weight: 500;
  /*max-height: 50px !important;*/
}
.accent {
  background: lightskyblue !important;
  color: black !important;
}
md-list-item > button{
  width: 100%;
  text-align: left !important;
}
.padding-content {
  margin: 30px;
  transition: all 0.5s ease!important;
}
.margin-content-lrb {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.item-color {
  color: deeppink;
  margin-right: 10px;
  max-width: 250px;
  font-size: xx-large;

}
.item-margin {
  margin: 0px;
  line-height: 1px !important;
}
md-list md-list-item {
  min-height: auto !important;
  height: auto;
}
.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
}

.toolbar-content{
  display: inline-block;
  padding-left: 20px ;
}
.row-height-100{
  height: 100%;
}
md-card md-content .mdl-data-table td{
  padding: 0px !important;
}

/*анимация*/
/*.circle {
  -webkit-transform: rotate(360deg);
}
.rotate {
  -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}*/

.fadeInLeftBig {
  transition: all 0.3s ease!important;
  opacity: 0;
}
