*, *:before, *:after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

::-webkit-input-placeholder {color:#fff; font-size: 14px}
::-moz-placeholder          {color:#fff;font-size: 14px}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;font-size: 14px}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;font-size: 14px}

html, body {
height: 100%;
overflow: hidden;

}


input, button {
outline: none;
border: none;
}

.cont {
/*position: relative;*/
height: 100%;
background-image: url("/images/22.jpg");
background-size: cover;
overflow: auto;
font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.demo {
  /*margin:auto;*/
/*position: absolute;
top: 50%;
left: 50%;
margin-left: -15rem;
margin-top: -26.5rem;*/
width: 350px;
height: 600px;
overflow: hidden;
}

.login {
/*position: relative;*/
height: 100%;
background: -webkit-linear-gradient(top, rgba(146, 135, 187, 1) 0%, rgba(0, 0, 0, 0.6) 100%);
background: linear-gradient(to bottom, rgba(146, 135, 187, 1) 0%, rgba(0, 0, 0, 0.6) 100%);
-webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
-webkit-transform: scale(1);
        transform: scale(1);
}
.login.inactive {
opacity: 0;
-webkit-transform: scale(1.1);
        transform: scale(1.1);
}
.login__check {
background: #fff url('/images/logo.png') center no-repeat;
width: 90px;
height: 90px;
border-radius: 50%;
position: absolute;
top: 7rem;
left: 9rem;
}

.login__form {
position: absolute;
top: 40%;
left: 0;
width: 100%;
height: 50%;
padding: 1.5rem 2.5rem;
text-align: center;
}
.login__row {
height: 5rem;
padding-top: 1rem;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.login__input {
display: inline-block;
width: 22rem;
height: 100%;
padding-left: 1.5rem;
font-size: 1.5rem;
background: transparent;
color: #fff;
}
.login__submit {
position: relative;
width: 100%;
height: 4rem;
margin: 5rem 0 2.2rem;
color: rgba(255, 255, 255, 0.8);
background: #FF3366;
font-size: 16px;
border-radius: 3rem;
cursor: pointer;
overflow: hidden;
}
.login__submit:after {
content: "";
position: absolute;
top: 50%;
left: 50%;
margin-left: -1.5rem;
margin-top: -1.5rem;
width: 3rem;
height: 3rem;
border: 2px dotted #fff;
border-radius: 50%;
border-left: none;
border-bottom: none;
-webkit-transition: opacity 0.1s 0.4s;
transition: opacity 0.1s 0.4s;
opacity: 0;
}
