.button--login {
  width: 100%;
  margin: 20px 0;
  height: 60px;
}

.demo-card-square.mdl-card {
  width: auto;
  height: auto;
  margin-bottom: 40px;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
}


/*Карточка*/
  .info-card-square.mdl-card {
    width: auto;
    height: auto;
    min-width: 180px;
    min-height: 300px;
    max-width: 540px;
    max-height: 540px;
    background-color: white;
    /*background-color: #985fcf;*/
    margin-bottom: 15px;
  }
  .info-card-square > .mdl-card__title {
    min-height: 100px;
    padding: 0px;
  }
  .mdl-card__title-text{
    color: #fff;
    height: 60px;
    width: 100%;
    padding: 5px;
    background: rgba(152, 95, 207, 0.8);
  }
  .mdl-card__supporting-text {
    color: rgba(0,0,0,0.9);
  }
  .card-font-size{
    font-size: 12px !important;
  }
  .card-futter-color-margin{
    margin:0px;
    color:black;
  }
  .card-futter-font-size{
    font-size: 24px !important;
  }

.mdl-data-table {
  width: 100%;
  border: none;
}

.mdl-data-table th,td{
  padding-left: 0px !important;
}

.mdl-data-table td {
  border-top: none;
  border-bottom: none;
}
