<h2 layout="row" layout-align="center center">Download client</h2>
<div layout-gt-xs="row" layout-align-gt-xs="space-around start" layout-align="center center" layout="column" flex-gt-xs>
  <md-card>
    <img src="images/11.jpg"/>
    <div layout="column">
      <h3 layout="row" layout-align="center center">Linux OS</h3>
      <a flex target="_blank" href="/clients/electron-faceit-prototype-linux-ia32.zip">
        <div layout="row">
          <i class="material-icons item-color">file_download</i>
          <h6 style="margin:5px">linux x32</h6>
        </div>
      </a>
      <a flex target="_blank" href="/clients/electron-faceit-prototype-linux-x64.zip">
        <div layout="row">
          <i class="material-icons item-color">file_download</i>
          <h6 style="margin:5px">linux x64</h6>
        </div>
      </a>
      <a flex target="_blank" href="/clients/electron-faceit-prototype-linux-armv7l.zip">
        <div layout="row">
          <i class="material-icons item-color">file_download</i>
          <h6 style="margin:5px">linux armv7l</h6>
        </div>
      </a>
    </div>
  </md-card>
  <md-card>
    <img src="images/11.jpg"/>
    <div layout="column">
      <h3 layout="row" layout-align="center center">Windows OS</h3>
      <a flex target="_blank" href="/clients/electron-faceit-prototype-win32-ia32.zip">
        <div layout="row">
          <i class="material-icons item-color">file_download</i>
          <h6 style="margin:5px">win x32</h6>
        </div>
      </a>
      <a flex target="_blank" href="/clients/electron-faceit-prototype-win32-x64.zip">
        <div layout="row">
          <i class="material-icons item-color">file_download</i>
          <h6 style="margin:5px">win x64</h6>
        </div>
      </a>
    </div>
  </md-card>
  <md-card>
    <img src="images/11.jpg"/>
    <div layout="column">
      <h3 layout="row" layout-align="center center">Mac OS</h3>
      <a flex target="_blank" href="/clients/electron-faceit-prototype-mas-x64.zip">
        <div layout="row">
          <i class="material-icons item-color">file_download</i>
          <h6 style="margin:5px">mas x64</h6>
        </div>
      </a>
      <a flex target="_blank" href="/clients/electron-faceit-prototype-darwin-x64.zip">
        <div layout="row">
          <i class="material-icons item-color">file_download</i>
          <h6 style="margin:5px">darwin x64</h6>
        </div>
      </a>
    </div>
  </md-card>
</div>
