<div class="animated flipInY backgroundImageConfig" layout="column" layout-align="space-around center">
  <div class="animated zoomInDown backgroundFormContainer" layout="column" layout-align="space-around center">
    <div class="logoContainer" layout="column" layout-align="space-around center">
      <img ng-src="images/logo.png" alt="logo"/>
    </div>
    <form layout="column" layout-align="space-around center" ng-submit="config.saveConfig()">
      <div class="maxWidth200" layout="column">
        <md-input-container class="inputContainerWhite">
           <label>Host</label>
           <md-icon class="material-icons">email</md-icon>
           <input required type="text" id="sample1" ng-model="config.serverHost">
        </md-input-container>
        <md-input-container class="inputContainerWhite">
           <label>Port</label>
           <md-icon class="material-icons">lock</md-icon>
           <input required type="text" id="sample2" ng-model="config.serverPort">
        </md-input-container>
        <div layout="row" layout-align="space-around center">
          <md-button class="md-warn md-raised" ng-click="$state.go('login')">
            <md-icon class="material-icons md-avatar-icon">arrow_back</md-icon> back
          </md-button>
          <md-button class="md-accent md-raised" type="submit" id="demo-show-toast">
            <md-icon class="material-icons" role="presentation">save</md-icon> save
          </md-button>
        </div>
      </div>
    </form>
  </div>
</div>
