<div class="animated flipInY backgroundImageLogin" layout="column" layout-align="space-around center">
  <div class="animated zoomInDown backgroundFormContainer" layout="column" layout-align="space-around center">
    <div class="logoContainer" layout="column" layout-align="space-around center">
      <img ng-src="images/logo.png" alt="logo"/>
    </div>
    <form layout="column" layout-align="space-around center" ng-submit="main.loginUser()">
      <div class="maxWidth200" layout="column">
        <md-input-container class="inputContainerWhite">
           <label>Email</label>
           <md-icon class="material-icons">email</md-icon>
           <input required type="text" id="sample1" ng-model="main.currentUser.email">
        </md-input-container>
        <md-input-container class="inputContainerWhite">
           <label>Password</label>
           <md-icon class="material-icons">lock</md-icon>
           <input required type="password" id="sample2" ng-model="main.currentUser.password">
        </md-input-container>
        <md-checkbox class="ckeckboxWhite" ng-model="main.rememberUser" aria-label="Remember me">Remember me</md-checkbox>
        <div layout="row" layout-align="space-around center">
          <md-button class="md-warn md-raised" ng-click="$state.go('config')">
            <md-icon class="material-icons md-avatar-icon">settings</md-icon> host
          </md-button>
          <md-button class="md-accent md-raised" type="submit" id="demo-show-toast">
            <md-icon class="material-icons" role="presentation">exit_to_app</md-icon> login
          </md-button>
        </div>
      </div>
    </form>
  </div>
</div>
