<div class="animated fadeInRight">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <div layout="row"  layout-align="center">
        <h2 class="autoMargin">Project List</h2>
        <md-button class="md-fab md-mini" ng-click="projectsList.getProjectList()">
          <md-icon class="material-icons" role="presentation">refresh</md-icon>
        </md-button>
      </div>
      <md-button ng-click="projectsList.toLogin()">
        <md-icon class="material-icons" role="presentation">exit_to_app</md-icon> logout
      </md-button>
    </div>
  </md-toolbar>
  <md-content class="mdContentMaxheight">
    <md-list class="md-dense" flex>
      <md-list-item class="md-3-line md-long-text" ng-repeat="project in projectsList.list" ng-click="projectsList.toProject=true" ui-sref="project({ id: project.id, name: project.name, lastScreen: project.last_screen, workedTime: project.totalWorkTime })">
        <md-icon class="material-icons md-avatar-icon">account_circle</md-icon>
        <div class="md-list-item-text" layout="column">
          <h3>{{ project.name }}</h3>
          <h4 class="colorPTWT">{{ project.totalWorkTime }}</h4>
          <p>{{ project.description }} </p>
        </div>
        <md-button class="md-secondary md-icon-button" aria-label="chevron_right">
          <md-icon class="material-icons">chevron_right</md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </md-content>
</div>
