<div class="animated fadeInRight backgroundProject">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <md-button class="md-fab md-mini" ng-click="project.goBack();">
        <md-icon class="material-icons md-avatar-icon">arrow_back</md-icon>
      </md-button>
      <md-list class="listItemMaxWidth">
        <md-list-item class="md-2-line md-long-text">
          <div class="md-list-item-text">
            <h3 class="listItemColorText">{{ project.projectName }}</h3>
            <p class="listItemColorText"><md-icon class="material-icons">access_time</md-icon> {{ project.totalWorkTime }}</p>
          </div>
        <md-list-item>
      </md-list>
      <md-button class="md-fab md-mini" ng-click="project.toggleTracker()">
        <md-icon class="material-icons" role="presentation">{{project.buttonText}}</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <img class="clientScreanSize" ng-src="{{ project.screenShot }}"/>
</div>
