<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ title|escape }}</title>
    </head>
    <body>
        <h1>{{ message|escape }}</h1>
        <h2>{{ error.status|escape }}</h2>
<pre>
{{ error.stack|escape }}
</pre>
    </body>
</html>
