<md-list>
  <md-list-item ng-click="$state.go('developer.detail')">
    <i class="pe-7s-graph item-color"></i>
    <h6 class="item-margin">developer</h6>
  </md-list-item>
  <md-list-item ng-click="$state.go('developer.download')">
    <i class="material-icons item-color">file_download</i>
    <h6 class="item-margin">download client</h6>
  </md-list-item>
</md-list>
