* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

hr {
  margin-bottom: 0;
}

.white-btn {
  background-color: #fff;
}

.white-btn:hover {
  background-color: #e6e6e6;
}

.project-h {
  margin: 0;
  font-size: 38px;
  font-weight: semi-bold;
}

.inline-content li  {
  display: inline-block;
}

.project-wrap {
  padding-top: 20px;
  padding-bottom: 70px;
}

.section-content {
  background-color: #64b5f6;
  margin-top: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.recent-project {
  padding: 30px 30px 70px 50px;
  background-color: #fff;
}

.hm-black-light {
    background-color: rgba(0,0,0,.3);
}

.recent-project .project-content {
  padding-top: 30px;
  padding-left: 90px;
  padding-bottom: 30px;
}
.recent-project .project-content h4,h3 {
  padding-left: 5px;
}

.all-projects {
  margin-top: 50px;
  background-color: #fff;
  padding: 30px 30px 70px 50px;
}

.all-projects .project-content {
  padding-top: 30px;
  padding-left: 90px;
  padding-bottom: 30px;
}

.tracked-time {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #0099CC;
  margin: 0;
}

.project-task {
  padding-top: 10px;
}

.shadow {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.screenshot {
  max-width: 400px;
  padding-top: 1.7rem;
}

.form-center {
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
}

.modal-backdrop {
  z-index: 1;
}

.white-text {
  color: white;
}

.bariel {
  font-family: 'bariol_serif_regularregular';
}

.app-links a {
  color: #0099CC;
  padding-left: 0;
  font-weight: 400;
}

.app-links a i {
  margin-right: 15px;
}

#main-nav #slide_out_menu ul li .light-tomato {
  color: #2196f3;
}
#main-nav #slide_out_menu ul li a i {
  padding-left: 8px;
  vertical-align: middle;
  font-size: 20px;
}

.light-tomato {
  color: #0099CC;
}

.light-tomato-btn {
  background-color: #0099CC;
  color: white;
}

.btn.btn-lg.light-tomato-btn {
  margin-top: 20px;
  background-color: #0099CC;
  color: white;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}


p.subtitle {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 28px;
  color: #8c8f94;
}

a {
  color: #26272d;
  text-decoration: none;
}

a:hover {
  color: #2196f3;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.f-w-300 {
  font-weight: 300;
}

.f-w-400 {
  font-weight: 400;
}

ul {
  padding-left: 0px;
}

ul > li {
  list-style: none;
}

/*****************************************************
*** Main Nav ***
*****************************************************/
#main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 34px 0;
  font-size: 17px;
  z-index: 10;
  background-color: #fff;
  webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
}

#main-nav #navigation {
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  z-index: 2;
}

#main-nav #navigation:hover {
  color: #267df4 !important;
}

#main-nav ul {
  padding: 0;
}

#main-nav ul li {
  display: inline-block;
  margin-right: 40px;
}

#main-nav ul li a {
  color: #000;
  text-decoration: none;
}

#main-nav ul li a:hover {
  color: #267df4;
}

#main-nav ul li .help {
  color: rgba(38, 39, 45, 0.4);
}

#main-nav ul li .btn-blue {
  color: #ffffff;
}

#main-nav ul li .btn-blue:hover {
  color: #ffffff;
}

#main-nav ul li:last-child {
  margin-right: 0;
}

#main-nav ul.left {
  text-align: left;
  margin-left: 50px;
}

#main-nav ul.left li {
  display: inline-block;
  padding: 9px 0;
}

#main-nav ul.left li:first-child {
  margin-right: 30px;
}

#main-nav ul.right {
  text-align: right;
}

#main-nav ul.right li {
  padding: 9px 0;
}

#main-nav .logo {
  display: inline-block;
  padding-top: 11px;
}

#main-nav #slide_out_menu {
  position: fixed;
  display: block;
  width: 360px;
  max-width: 630px;
  height: 100%;
  left: -380px;
  top: 0;
  padding: 40px;
  z-index: 50;
  background: #fff;
  transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}

#main-nav #slide_out_menu .menu-close {
  position: absolute;
  color: #ffffff;
  right: 20px;
  top: 52px;
}

#main-nav #slide_out_menu ul {
  margin-top: 40px;
}

#main-nav #slide_out_menu ul li {
  display: block;
  margin: 10px 0;
}

#main-nav #slide_out_menu ul li a {
  color: #000;
}

#main-nav #slide_out_menu ul li a:hover {
  color: #267df4;
}

#main-nav #slide_out_menu ul li .btn-blue:hover {
  color: #ffffff;
}

#main-nav #slide_out_menu ul li:last-child {
  margin-top: 20px;
}

#main-nav #slide_out_menu .slide_out_menu_footer {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 40px 25px;
}

#main-nav #slide_out_menu .slide_out_menu_footer .more-info p {
  font-size: 14px;
  line-height: 24px;
  color: #000;
  margin: 0;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials {
  margin: 18px 0 0;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials li {
  display: inline-block;
  margin: 0 20px 0 0;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials li a {
  color: rgba(255, 255, 255, 0.8);
  transition: all .2s ease-in-out;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials li a:hover {
  color: #ffffff;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials li:last-child {
  margin-right: 0;
}

#main-nav #slide_out_menu.xs-screen {
  overflow-y: auto;
}

#main-nav #slide_out_menu.xs-screen ul {
  margin-top: 40px;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer {
  position: relative;
  padding: 0;
  margin-top: 40px;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .more-info p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials {
  margin: 18px 0 0;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials li {
  display: inline-block;
  margin: 0 20px 0 0;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials li a {
  color: rgba(255, 255, 255, 0.8);
  transition: all .2s ease-in-out;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials li a:hover {
  color: #ffffff;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials li:last-child {
  margin-right: 0;
}

#main-nav #slide_out_menu.open {
  left: 0;
}

#main-nav.active {
  background-color: #1976d2;
  padding: 24px 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

#main-nav.active ul li a {
  color: #fff;
}

#main-nav.active #navigation {
  color: #fff;
}

/*****************************************************
*** Header ***
*****************************************************/
#header {
  padding: 280px 0 310px;
  background-color: #2196f3;
  background-position: center center;
  position: relative;
  overflow: hidden;
  color: #fff;
}

#header p {
  padding-top: 20px;
  font-size: 20px;
  color: #fff;
}


#header .header-btn {
  margin-top: 50px;
  padding-right: 30px;
}

#header .header-btn i {
  font-size: 24px;
  margin-right: 8px;
  margin-left: 5px;
}

/*****************************************************
*** Features ***
*****************************************************/
#features {
  padding: 120px 0;
}

#features .feature {
  padding: 0px 38px;
}

#features .feature .f-icon {
  margin-bottom: 48px;
}

#features .feature .f-icon i {
  font-size: 42px;
  color: #0099CC;
}

/*****************************************************
*** Map Feature ***
*****************************************************/
#map-feature {
  padding: 120px 0 140px;
  position: relative;
  overflow: hidden;
}

#map-feature .partners {
  margin-top: 52px;
}

#map-feature .partners .title {
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
}

#map-feature .partners ul {
  margin: 26px 0 0;
}

#map-feature .partners ul li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 15px;
}

#map-feature .partners ul li:last-child {
  margin-right: 0;
}

#map-feature .map-showcase {
  position: absolute;
  bottom: 110px;
  left: 50%;
}


/*****************************************************
*** Subscribe ***
*****************************************************/
#subscribe {
  padding: 90px 0 50px;
}

#subscribe .btn {
  padding-left: 34px;
  padding-right: 34px;
}

#subscribe .promise {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
}

#plan {
  padding: 80px 0 100px;
  background-color: #1976d2;
  color: #fff;
}

#plan p,a {
  color: #ececed;
}

/*****************************************************
*** Footer ***
*****************************************************/
#footer {
  color: #8c8f94;
  font-size: 16px;
}

#footer .footer-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

#footer .copyright-container {
  padding-top: 20px;
  padding-bottom: 25px;
}

#footer .logo {
  margin-bottom: 36px;
}

#footer p {
  font-size: 14px;
  line-height: 24px;
}

#footer .app_download img {
  margin-top: 6px;
}

#footer ul li .title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
  font-size: 12px;
}

#footer ul li a {
  color: #8c8f94;
  text-decoration: none;
  line-height: 36px;
}

#footer ul li a:hover {
  color: #26272d;
}

#footer .socials {
  margin-top: 32px;
}

#footer .socials li {
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
}

#footer .socials li a {
  color: rgba(19, 19, 21, 0.3);
}

#footer .socials li:last-child {
  margin-right: 0;
}

#footer .more-info {
  line-height: 24px;
  font-size: 14px;
}

#footer .made-by {
  font-size: 9px;
  font-weight: 700;
  line-height: 22px;
  color: #26272d;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer .made-by a img {
  margin-top: -8px;
  margin-left: 8px;
}

/*****************************************************
Responsive Styles
*****************************************************/
@media only screen and (max-width: 992px) {
  /*** Main Nav ***/
  #main-nav .col-md-4:first-child,
  #main-nav .col-md-4:last-child {
    display: none;
  }
  #main-nav #slide_out_menu {
    position: fixed;
    display: block;
    width: 300px;
    height: 100%;
    left: -300px;
  }
  #main-nav #slide_out_menu .menu-close {
    top: 41px;
  }
  /*** Features ***/
  #features {
    padding: 100px 0;
  }
  #features .feature-item {
    margin-bottom: 80px;
  }
  #features .feature-item:last-child {
    margin-bottom: 0;
  }
  #features .feature {
    padding: 0px 0px;
  }
  #features .feature .f-icon {
    margin-bottom: 48px;
  }
  #features .feature .f-icon i {
    font-size: 42px;
    color: #267df4;
  }
  /*** iPhone Feature ***/
  #iphone-feature {
    padding: 80px 0 60px;
  }
  #iphone-feature .iphone-showcase {
    position: relative;
    bottom: auto;
    right: auto;
    padding: 0 15px;
    margin-top: 64px;
  }
  #iphone-feature .iphone-showcase img {
    width: 100%;
  }
  /*** Map Feature ***/
  #map-feature {
    padding: 80px 0 100px;
  }
  #map-feature .map-showcase {
    position: relative;
    bottom: auto;
    left: auto;
    padding: 0 15px;
    margin-top: 64px;
  }
  #map-feature .map-showcase img {
    width: 100%;
  }
  /*** iPhone Screens ***/
  #iphone-screens {
    padding: 120px 0 620px;
  }
  #iphone-screens .images-list li {
    position: absolute;
    width: 240px;
    top: 68px;
  }
  #iphone-screens .images-list li img {
    max-width: 100%;
  }
  #iphone-screens .images-list li:nth-child(1) {
    margin-left: -680px;
  }
  #iphone-screens .images-list li:nth-child(2) {
    margin-left: -410px;
  }
  #iphone-screens .images-list li:nth-child(4) {
    margin-right: -410px;
  }
  #iphone-screens .images-list li:nth-child(5) {
    margin-right: -680px;
  }
  #iphone-screens .images-list li.main-img {
    width: 295px;
    margin-left: -148px;
  }
  /*** Customers ***/
  #customers .carousel-control.left,
  #customers .carousel-control.right {
    display: none;
  }
  /*** Plan ***/
  #plan {
    padding: 120px 0 150px;
  }
  #plan #price_tables .individual.active, #plan #price_tables .company.active {
    margin-top: 80px;
  }
  #plan .toggle-container .switch-toggles .individual, #plan .toggle-container .switch-toggles .company {
    margin-top: 0;
  }
  /*** Footer ***/
  #footer .socials {
    margin-bottom: 60px;
  }
  #footer .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-links:last-child {
    margin-bottom: 0;
  }
  /*** Copyright Container ***/
  .copyright-container .text-right {
    text-align: left;
    margin-top: 22px;
  }
}

@media only screen and (max-width: 768px) {
  /*** iPhone Screens ***/
  #iphone-screens {
    padding: 120px 0 460px;
  }
  #iphone-screens .images-list li {
    position: absolute;
    width: 178px;
    top: 52px;
  }
  #iphone-screens .images-list li img {
    max-width: 100%;
  }
  #iphone-screens .images-list li:nth-child(1) {
    margin-left: -502px;
  }
  #iphone-screens .images-list li:nth-child(2) {
    margin-left: -304px;
  }
  #iphone-screens .images-list li:nth-child(4) {
    margin-right: -304px;
  }
  #iphone-screens .images-list li:nth-child(5) {
    margin-right: -502px;
  }
  #iphone-screens .images-list li.main-img {
    width: 220px;
    margin-left: -110px;
  }
}

@media only screen and (max-width: 575px) {
  input[type="text"],
  input[type="email"] {
    padding: 16px 26px;
  }
  /*** Header ***/
  #header {
    padding: 160px 0 460px;
  }
  #header .header_iphone {
    bottom: -220px;
    margin-left: -140px;
    width: 280px;
  }
  /*** Ready to Buy  ***/
  #ready-to-buy .form-group .btn,
  #subscribe .form-group .btn {
    position: relative;
    margin-top: 14px;
  }
  /*** Customers ***/
  #customers {
    padding: 120px 0;
  }
  #customers .carousel-indicators li {
    width: 90px;
    height: 90px;
  }
  /*** Plan ***/

  #plan {
    padding: 120px 0 100px;
    background-color: #f4f4f5;
  }
  #plan .price-table {
    width: 340px;
    max-width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
    float: none;
  }
  /*** Footer ***/
  #footer .footer-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #footer .footer-links {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
