html, body
  font-family: 'Roboto', 'Helvetica', sans-serif
  margin: 0
  padding: 0
  overflow-y: hidden
  overflow-x: hidden
  word-wrap: break-word

.arrow-back
  vertical-align: sub
  padding-right: 15px

.first
  animation-delay: 0.2s
  animation-duration: 0.3s


.second
  animation-delay: 0.4s
  animation-duration: 0.4s


.third
  animation-delay: 0.6s
  animation-duration: 0.5s

.screenshot
  width: 200px
  height: 150px
  opacity: 0.9

.button--switcher
  padding-left:30px

.text-shadow-1
  text-shadow: 1px 2px 3px rgba(0,0,0,0.54)

.text-shadow-0
  text-shadow: 1px 1px 3px rgba(0,0,0,0.54)

.mdl-switch__track
  height: 19px!important
  width: 41px!important

.mdl-switch__thumb
  height: 25px
  width: 25px

.mdl-button--full-width
  margin: 10px 40px
  width: 320px
  min-height: 70px
  border-radius: 3px
  font-size: 18px
  font-weight: 500

.border-none
  border: none !important

.config
  &::after
    background: url(../../images/m.jpg) no-repeat center

.login
  &::after
    background: url(../../images/material.png) no-repeat center

.box
  padding-top: 30px
  padding-bottom: 50px
  height: 470px
  display: block
  position: relative
  &::after
    background-size: cover
    position: absolute
    content: ""
    top: 0
    bottom: 0
    right: 0
    left: 0
    opacity: 0.8
    z-index: -1
  .login-logo
    background: #fff url(../../images/logo.png) center no-repeat
    width: 90px
    height: 90px
    border-radius: 50%
    margin: 10px auto 60px

.text-center
  text-align: center

.mdl-shadow--90p-6dp
    box-shadow: 0 0px 10px 0 rgba(0,0,0,.14),0 0px 18px 0 rgba(0,0,0,.12),0 2px 5px -1px rgba(0,0,0,.2)

.mdl-form
  z-index: 10
  border-radius: 2px
  padding: 0 20px
  margin: 30px 40px


.demo-list-control
  margin: 40px auto
  width: 325px

.project--time
  padding-left: 25px
  vertical-align: middle
  font-size: 18px

.project--action
  vertical-align: -webkit-baseline-middle

.no-margin
  margin-right: 0!important
  float: none!important
  padding-left: 15px

.mdl-layout__header-row
  padding-left: 40px!important
  height: 35px!important

.mdl-layout__header
  display: table!important

#add
  position: absolute
  right: 40px
  top: 111px
  z-index: 999

.project--icon
  background: #fff!important
  color: #757575!important


.project-list--title
  padding-bottom: 30px
