<div  layout="row" class="row-height-100">
  <md-sidenav class="md-whiteframe-4dp animated " ng-class="{'fadeInLeftBig' : dashboard.addClass}" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" style="max-width: 260px;">
    <md-toolbar layout="row" layout-align="center center" class="mdl-color--indigo">
      <div class="md-toolbar-tools">
        <h5 class="text-center" flex>Teamgeist</h5>
      </div>
    </md-toolbar>

    <md-content ui-view="sideNavContent" flex ng-click="dashboard.menu()"></md-content>

    <md-toolbar hide-gt-sm ng-click="dashboard.logout()" class="animated" ng-class="$mdMedia('gt-sm') ? 'fadeOutDown' : 'fadeInUp'">
      <div class="md-toolbar-tools">
        <md-button  flex>
          <md-icon class="material-icons">exit_to_app</md-icon>
          <span>log out</span>
        </md-button>
      </div>
    </md-toolbar>
  </md-sidenav>


  <div layout="column"  layout-align="space-between none" flex>
    <md-toolbar layout="row" class="mdl-color--indigo md-whiteframe-4dp animated slideInRight">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <ui-view name="title"></ui-view>

        <md-button class="md-icon-button button-menu animated" ng-class="{'fadeInUp' : !$mdMedia('gt-sm')}" aria-label="SideBar" ng-click="dashboard.menu()" hide-gt-sm>
          <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <md-button  hide-sm hide-xs ng-click="dashboard.logout()" ng-class="{'animated fadeInUp' : !$mdMedia('gt-sm')}">
          <md-icon class="material-icons">exit_to_app</md-icon>
          log out
        </md-button>
      </div>
    </md-toolbar>
    <md-content flex>
      <md-card ng-class="{'padding-content':  dashboard.addClass}" flex>
        <md-content ng-view class="animated fadeInDown"  ui-view="cardContent" style="background-color: transparent;" flex></md-content>
      </md-card>
    <md-content>

    <!-- <md-toolbar class="animated slideInRight">
      <div class="md-toolbar-tools">
        <md-button flex>
          <md-icon class="material-icons">home</md-icon>
          <span>home</span>
        </md-button>
      </div>
    </md-toolbar> -->
  </div>

</div>
