
<md-dialog aria-label="stat">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{stat.created_at | date:"MM/dd/yyyy 'at' h:mm a"}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-card>
        <img ng-src="/screenshots/{{stat.image}}" class="md-card-image">
      </md-card>
    </md-dialog-content>
</md-dialog>
