
<md-dialog aria-label="title">
  <form ng-cloak ng-submit=" answer(time)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <section>
          <md-input-container style="display: block;">
            <label>Hours</label>
            <input required name="hours" type="number" ng-model="time.hours">
          </md-input-container>
          <md-input-container style="display: block;">
            <label>Minutes</label>
            <input required name="minutes" type="number" ng-model="time.minutes">
          </md-input-container>
        </section>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" style="padding = 0px">
      <md-button type="submit" class="md-warn md-raised" ng-click="time.isAdd = false" flex>
        Detach
      </md-button>
      <md-button type="submit" class="md-primary md-raised" ng-click="time.isAdd = true" flex>
        Attach
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
