<div class="cont" flex layout="row" layout-align="space-around center">
  <div class="demo mdl-shadow--16dp animated slideInDown">
    <div class="login">
      <div class="login__check mdl-shadow--6dp"></div>

      <form ng-submit="main.loginUser()" class="login__form">
        <p>
          {{ main.errorMessage }}
        </p>
        <div class="login__row">
          <input type="text" class="login__input name" ng-model="main.currentUser.email" placeholder="Username"/>
        </div>
        <div class="login__row">
          <input type="password" class="login__input pass" ng-model="main.currentUser.password" placeholder="Password"/>
        </div>
        <button class="button--login mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-shadow--4dp">
          SIGN IN
        </button>
        <p class="login__signup mdl-color-text--white">Don't have an account? &nbsp;<a>Sign up</a></p>
      </form>
    </div>
  </div>
</div>
