<div layout="row" layout-xs="column" layout-align="space-around start" layout-align-xs="space-around center">
  <div layout="column" flex-gt-sm="40">
    <h3>Add developer</h3>
    <form ng-submit="managerDevelopers.addDeveloper(managerDevelopers.newDeveloper)">
      <md-input-container class="md-block">
        <md-icon class="material-icons" style="font-size: 24px;" for="sample6">sentiment_satisfied</md-icon>
        <input ng-model="managerDevelopers.newDeveloper.first_name" required type="text" placeholder="First Name">
      </md-input-container>
      <md-input-container class="md-block">
        <md-icon class="material-icons" style="font-size: 24px;" for="sample6">sentiment_very_satisfied</md-icon>
        <input ng-model="managerDevelopers.newDeveloper.last_name" required type="text" placeholder="Last Name">
      </md-input-container>
      <md-input-container class="md-block">
        <md-icon class="material-icons" style="font-size: 24px;" for="sample6">contact_mail</md-icon>
        <input ng-model="managerDevelopers.newDeveloper.email" required type="email" placeholder="Email">
      </md-input-container>
      <md-input-container class="md-block">
        <md-icon class="material-icons" style="font-size: 24px;" for="sample6">face</md-icon>
        <input ng-model="managerDevelopers.newDeveloper.office_loc_token" required type="text" placeholder="Office Loc Token">
      </md-input-container>
      <md-input-container class="md-block">
        <md-icon class="material-icons" style="font-size: 24px;" for="sample6">https</md-icon>
        <input ng-model="managerDevelopers.newDeveloper.password" required type="text" placeholder="Password">
      </md-input-container>
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent pull-right">
        add
      </button>
    </form>
  </div>
  <div layout="column" layout-align-xs="space-around center" flex-gt-sm="50">
    <h3>Developers</h3>
    <md-input-container class="md-block" >
      <md-icon class="material-icons" style="font-size: 24px;" for="sample6">search</md-icon>
      <input ng-model="search.$" type="text" placeholder="search" flex-gt-sm="95">
    </md-input-container>
    <md-content>
      <md-list ng-init="search.role='developer'">
        <md-list-item  class="md-2-line" ui-sref="manager.developer({ userId: user.id })" ng-repeat="user in managerDevelopers.users  | orderBy:'id':reverse=true | filter:search:strict">
          <i hide-xs class="material-icons md-avatar-icon" md-colors="{background: 'lime'}">person</i>
          <div class="md-list-item-text">
            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
            <p>{{ user.email }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
