<div class="header" layout="row" flex>
  <div layout="column" flex>
    <div layout="row" layout-xs="column" layout-align-gt-xs="space-around center" style="margin-bottom: 20px">
      <div layout-lg="row" layout="column" layout-align="center">
        <h6 style="margin: 18px" layout-xs="row" layout-align-xs="center end">{{managerDetail.user.first_name}}</h6>
        <h6 style="margin: 18px" layout-xs="row" layout-align-xs="center start">{{managerDetail.user.last_name}}</h6>
      </div>
      <div layout="column" style="margin-top: 20px">
        <div layout="row" layout-align="space-around end">
          <md-datepicker md-hide-icons="calendar" ng-change="managerDetail.selectedDay(managerDetail.selectedDate)" ng-model="managerDetail.selectedDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
          <button class="mdl-button mdl-color--accent mdl-color-text--white"  style="margin-left: 18px"  ng-click="managerDetail.getTodayDate()" flex-xs="40">today</button>
        </div>
        <div layout="row" layout-align-xs="space-around">
          <div class="mdl-list__item mdl-list__item--two-line" ng-click="managerDetail.showDayTime($event)">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color--white mdl-color-text--grey-600">today</i>
              <span>Day time</span>
              <span class="mdl-list__item-sub-title">
                <a class="mdl-list__item-secondary-action">{{managerDetail.dayTotal}}</a>
              </span>
            </span>
          </div>
          <div class="mdl-list__item mdl-list__item--two-line" ng-click="managerDetail.showProjectTime($event)">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color--white mdl-color-text--grey-600">access_time</i>
              <span>Total time</span>
              <span class="mdl-list__item-sub-title">
                <a class="mdl-list__item-secondary-action">{{managerDetail.projectTotal}}</a>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content" layout="column" flex>
  <md-tabs md-dynamic-height md-border-bottom md-center-tabs="true" md-stretch-tabs="always" md-selected="managerDetail.selectedIndex" md-autoselect ng-cloak>
    <md-tab ng-click="managerDetail.getProjectStatistic()">
      <md-tab-label>
        <md-icon class="material-icons">view_day</md-icon>
        <span hide-xs>day</span>
     </md-tab-label>
      <md-tab-body>
        <md-content layout="row" layout-wrap layout-align="space-around center" flex>
          <md-card flex-xs="90" flex-sm="30" flex-md="30" flex-lg="20" ng-repeat="stat in managerDetail.userStat">
            <img ng-src="/screenshots/{{stat.image}}" ng-click="managerDetail.showScrean($event, stat)" class="md-card-image" ng-style="{'background-size': 'cover', 'width': 'auto', 'max-height': '150px'}">
            <md-card-content>
              <p>{{stat.created_at | date:"MMM d, yyyy 'at' h:mm a"}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-wrap layout-align="space-between center">
              <a flex="75" flex-sm="100" layout-sm="row" layout-align-sm="space-around center">
                <span><md-icon class="material-icons">keyboard</md-icon> {{stat.keyboard}}</span>
                <span><md-icon class="material-icons">mouse</md-icon> {{stat.mouse}}</span>
              </a>
              <md-card-icon-actions flex="25" flex-sm="100" layout="row" layout-align-sm="center center"  layout-align="end center">
                <md-button style="margin:0px" ng-click="managerDetail.deleteStatistic(stat.id)" class="md-icon-button mdl-color--primary md-whiteframe-1dp" aria-label="delete_forever">
                  <md-icon class="material-icons" style="color: white;">delete_forever</md-icon>
                </md-button>
              </md-card-icon-actions>
            </md-card-actions>
          </md-card>
        </md-content>
      </md-tab-body>
    </md-tab>

    <md-tab ng-click="managerDetail.getProjectStatistic()">
      <md-tab-label>
        <md-icon class="material-icons">view_comfy</md-icon>
        <span hide-xs>months</span>
      </md-tab-label>
      <md-tab-body>
        <md-list>
          <md-list-item style="padding: 0px;">
            <md-content flex>
                <!-- //////////////////////Месяц////////////////////////////// -->
                <md-card layout="column" flex>
                  <md-card-title-text layout="row" layout-align="center">
                    <h6>{{managerDetail.userMonthStat.monthName}}: {{managerDetail.userMonthStat.monthStat}}</h6>
                  </md-card-title-text>
                  <md-content style="padding: 10px; background: transparent;" flex>
                    <table class="mdl-data-table mdl-js-data-table">
                      <thead>
                        <tr>
                          <th>Week stat</th>
                          <th>Sunday</th>
                          <th>Monday</th>
                          <th>Tuesday</th>
                          <th>Wednesday</th>
                          <th>Thursday</th>
                          <th>Friday</th>
                          <th>Saturday</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- /////////////////////////Неделя///////////////////////////// -->
                        <tr ng-repeat="week in managerDetail.userMonthStat.weeks">
                          <!-- ////////////////////////////Неделя///////////////////////////// -->
                          <td class="mdl-data-table__cell--non-numeric md-subhead" style="padding: 0px !important;">{{week.weekStat}}</td>
                          <!-- ///////////////////////////День/////////////////////////// -->
                          <td class="mdl-data-table__cell--non-numeric" ng-repeat="day in week.days track by $index">
                            <md-card flex ng-click="managerDetail.selectedDay(day.date)">
                              <md-card-title style="padding: 0px; margin-top:10px;">
                                <md-card-title-media>
                                  <div class="md-avatar-icon" md-colors="::{background: 'primary'}" style="margin:10px;">
                                    <md-icon style="color: rgba(255, 255, 255, 0.87);" class="material-icons">view_day</md-icon>
                                  </div>
                                </md-card-title-media>
                                <md-card-title-text style="margin-right: 10px;">
                                  <span class="md-subhead">{{day.date|date:"MM/dd/yyyy" }}</span>
                                  <span class="">{{day.dayStat}}</span>
                                </md-card-title-text>
                              </md-card-title>
                            </md-card>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </md-content>
                </md-card>
                <!-- //////////////////////Месяц////////////////////////////// -->
            </md-content>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
  </md-tabs>


</div>
