<div layout="column" layout-gt-md="row" layout-align="space-around " layout-wrap flex>
  <div flex="55">
    <h4 layout="row" layout-wrap flex layout-align="space-around " class="mdl-color-text--grey-700">{{managerProjectView.getProjectInfo.name}}</h4>
    <div layout="row" layout-wrap flex layout-align="space-around ">
      <div flex="90" >
        <p class="mdl-color-text--grey-600">{{managerProjectView.getProjectInfo.description}}</p>
        <md-content>
          <table class="mdl-data-table mdl-js-data-table">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Attached Users</th>
                <th class="mdl-data-table__cell--non-numeric">Role</th>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
                <th class="mdl-data-table__cell--non-numeric">Worked Time</th>
                <th class="mdl-data-table__cell--non-numeric">DELETE</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in managerProjectView.attachedDevelopers track by $index">
                <td ng-click="managerProjectView.detail(data.user)" class="mdl-data-table__cell--non-numeric"><p style="margin:0px; padding-right:5px; ">{{data.user.first_name}} {{user.last_name}}</p></td>
                <td ng-click="managerProjectView.detail(data.user)" class="mdl-data-table__cell--non-numeric"><p style="margin:0px; padding-right:5px; ">{{data.user.role}}</p></td>
                <td ng-click="managerProjectView.detail(data.user)" class="mdl-data-table__cell--non-numeric" style="min-padding-left:5px; min-padding-right:5px;"><p style="margin:0px; padding-right:5px; ">{{data.user.email}}</p></td>
                <td ng-click="managerProjectView.detail(data.user)" class="mdl-data-table__cell--non-numeric"><p style="margin:0px; padding-right:5px; ">{{data.workedTime}}</p></td>
                <td class="mdl-data-table__cell--non-numeric">
                  <md-icon class="material-icons" style="color: red;" ng-click="managerProjectView.removeUser(data.user.id)">delete_forever</md-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </md-content>
      </div>
    </div>
  </div>
  <div flex="40">
    <div layout="row" layout-gt-sm="column" layout-wrap layout-align="center center" flex>
      <div flex="90" flex-sm="55">
        <h4 class="mdl-color-text--grey-700">Available Developers</h4>
      </div>
      <div flex="90" flex-sm="35">
        <form layout="column">
          <md-input-container style="margin: 0px; display: flex;" class="md-block">
            <md-icon class="material-icons" style="font-size: 24px;" for="sample6">search</md-icon>
            <input ng-model="search.email" type="text" id="sample6" placeholder="search" >
          </md-input-container>
        </form>
      </div>
    </div>

    <div class="demo-list-action mdl-list">
      <md-content>
        <div class="mdl-list__item" ng-repeat="user in managerProjectView.users | filter:search:strict" ng-hide="managerProjectView.isHideDev(user.id)">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">person</i>
            <span>{{ user.email }}</span>
          </span>
          <button ng-click="managerProjectView.setUser(user.id)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
            <i class="material-icons">add</i>
          </button>
        </div>
      </md-content>
    </div>
  </div>
</div>
