<div layout="column" layout-gt-sm="row" layout-align-gt-sm="space-around top" >
  <div flex-gt-sm="40" ng-class="{'margin-content-lrb': !$mdMedia('sm')}">
    <h4 class="mdl-color-text--grey-700">Create new project</h4>
    <form ng-submit="managerProjects.createProject(managerProjects.newProject)">
        <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                  <label>Project Name</label>
                  <input type="text" class="form-control" placeholder="Last Name" value="Teamgeist" ng-model="managerProjects.newProject.name" required>
              </div>
          </div>
        </div>
        <label>Project Type</label>
        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
                <md-radio-group ng-model="managerProjects.newProject.type">
                  <ul class="list-inline" layout-gt-xs="row">
                    <li>
                      <md-radio-button value="internal" class="md-primary col-md-3">internal</md-radio-button>
                    </li>
                    <li>
                      <md-radio-button value="external" class="col-md-5"> external </md-radio-button>
                    </li>
                  </ul>
               </md-radio-group>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Project Description</label>
                    <textarea rows="5" class="form-control" placeholder="Here can be your description" ng-model="managerProjects.newProject.description" required>Need to create dashboard.</textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent pull-right">
          Create
        </button>
        <div class="clearfix"></div>
    </form>
  </div>
  <div flex-gt-sm="40" ng-class="{'margin-content-lrb': !$mdMedia('gt-sm')}">
    <h4 class="mdl-color-text--grey-700">Project list</h4>
    <md-content>
      <md-list>
        <md-list-item  class="md-2-line" ng-repeat="project in managerProjects.projectsList | orderBy:'id':reverse=true track by $index" ui-sref="manager.project-view({ projectId: project.id })">
          <i hide-xs class="material-icons md-avatar-icon" md-colors="{background: 'lime'}">person</i>
          <div class="md-list-item-text">
            <h3>{{project.name}}</h3>
            <p>{{project.description}}</p>
          </div>
          <div class="md-secondary md-list-item-text">
            <h3>Type</h3>
            <p style="color:#ff4081">{{project.type}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
