<md-list>
  <md-list-item ng-click="$state.go('manager.detail')">
    <i class="material-icons item-color" >account_box</i>
    <h6 class="item-margin">Manager</h6>
  </md-list-item>
  <md-list-item ng-click="$state.go('manager.download')">
    <i class="material-icons item-color">file_download</i>
    <h6 class="item-margin">download client</h6>
  </md-list-item>
  <md-list-item ng-click="$state.go('manager.projects')">
    <i class="material-icons item-color">list</i>
    <h6 class="item-margin">project list</h6>
  </md-list-item>
  <md-list-item ng-click="$state.go('manager.developers')">
    <i class="material-icons item-color">developer_board</i>
    <h6 class="item-margin">developers list</h6>
  </md-list-item>
</md-list>
